In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
my_ser = Series([1,2,3,4] ,index=['A','B','C','D'])

In [3]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_ser2 = my_ser.reindex(['A','B','C','D','E'])

In [5]:
my_ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

fill_valueで新しいインデックの値にnullではなく値を明示して入れることができる

In [6]:
my_ser2.reindex(['A','B','C','D','E','F'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    0.0
dtype: float64

In [7]:
my_ser3 = Series(['USA','Mexcico','Canada'],index=[0,5,10])

In [8]:
my_ser3

0         USA
5     Mexcico
10     Canada
dtype: object

indexを張り替える際に空白の値に関してはそれ以前に入力されている値をその後の空白に入れる ffill

In [9]:
my_ser3.reindex(range(15),method='ffill')

0         USA
1         USA
2         USA
3         USA
4         USA
5     Mexcico
6     Mexcico
7     Mexcico
8     Mexcico
9     Mexcico
10     Canada
11     Canada
12     Canada
13     Canada
14     Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)),index= ['A','B','D','E','F'],columns=['1','2','3','4','5'])

In [11]:
dframe

          1         2         3         4         5
A -0.919738  0.860695 -0.746567 -0.693645 -1.314087
B  1.289405  0.004545  0.065886 -1.543843  1.191719
D -0.463988  0.497630  1.713694  0.443075  0.696906
E  1.645365 -0.351056 -0.144980  0.308110 -0.433558
F -1.191968  0.434286 -0.343432  1.493674 -1.105566

In [13]:
new_index = ['A','B','C','D','E']
dframe2 = dframe.reindex(new_index)

In [14]:
dframe2

          1         2         3         4         5
A -0.919738  0.860695 -0.746567 -0.693645 -1.314087
B  1.289405  0.004545  0.065886 -1.543843  1.191719
C       NaN       NaN       NaN       NaN       NaN
D -0.463988  0.497630  1.713694  0.443075  0.696906
E  1.645365 -0.351056 -0.144980  0.308110 -0.433558

In [15]:
new_cols = ['1','2','3','4','5','6']
dframe3 = dframe.reindex(columns=new_cols)

In [16]:
dframe3

          1         2         3         4         5   6
A -0.919738  0.860695 -0.746567 -0.693645 -1.314087 NaN
B  1.289405  0.004545  0.065886 -1.543843  1.191719 NaN
D -0.463988  0.497630  1.713694  0.443075  0.696906 NaN
E  1.645365 -0.351056 -0.144980  0.308110 -0.433558 NaN
F -1.191968  0.434286 -0.343432  1.493674 -1.105566 NaN

In [19]:
dframe.loc[new_index,new_cols]

AttributeError: 'DataFrame' object has no attribute 'ix'