In [2]:
import numpy as np
import pandas as pd
from pandas import Series

In [3]:
obj = Series([3,6,9,12])

In [4]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [10]:
obj.values

array([ 3,  6,  9, 12])

In [11]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
ww2_cas = Series([870000,4300000,1200000,3746800,5555000] , index=['Japan','USA','China','Gearmany','Korea'])

In [9]:
ww2_cas

Japan        870000
USA         4300000
China       1200000
Gearmany    3746800
Korea       5555000
dtype: int64

In [12]:
ww2_cas['Japan']

870000

Seriesに対して指定した条件を満たす値のみを取得することができる

In [13]:
ww2_cas[ww2_cas>4000000]

USA      4300000
Korea    5555000
dtype: int64

In [14]:
ww2_cas>4000000

Japan       False
USA          True
China       False
Gearmany    False
Korea        True
dtype: bool

Sereisの中に指定した要素が含まれているかを調べることができる

In [15]:
'Japan' in ww2_cas

True

辞書として変換することができる

In [16]:
ww2_dict = ww2_cas.to_dict()

In [17]:
ww2_dict

{'Japan': 870000,
 'USA': 4300000,
 'China': 1200000,
 'Gearmany': 3746800,
 'Korea': 5555000}

辞書を元にsereisを作ることもできる

In [18]:
ww2_Series = Series(ww2_dict)

In [19]:
ww2_Series

Japan        870000
USA         4300000
China       1200000
Gearmany    3746800
Korea       5555000
dtype: int64

In [20]:
index=['Japan','USA','China','Gearmany','Korea','北朝鮮']

インデックスを指定して辞書データをSeriesデータに変換することができる

In [21]:
obj2 = Series(ww2_dict, index = index)

In [22]:
obj2

Japan        870000.0
USA         4300000.0
China       1200000.0
Gearmany    3746800.0
Korea       5555000.0
北朝鮮               NaN
dtype: float64

In [23]:
pd.isnull(obj2)

Japan       False
USA         False
China       False
Gearmany    False
Korea       False
北朝鮮          True
dtype: bool

In [26]:
pd.notnull(obj2)

Japan        True
USA          True
China        True
Gearmany     True
Korea        True
北朝鮮         False
dtype: bool

In [27]:
ww2_Series

Japan        870000
USA         4300000
China       1200000
Gearmany    3746800
Korea       5555000
dtype: int64

In [29]:
obj2

Japan        870000.0
USA         4300000.0
China       1200000.0
Gearmany    3746800.0
Korea       5555000.0
北朝鮮               NaN
dtype: float64

インデックスが揃っていれば値を足すことができる

In [30]:
ww2_Series + obj2

China        2400000.0
Gearmany     7493600.0
Japan        1740000.0
Korea       11110000.0
USA          8600000.0
北朝鮮                NaN
dtype: float64

In [34]:
obj2.name = '第二次世界大戦の死亡者'

In [35]:
obj2

Japan        870000.0
USA         4300000.0
China       1200000.0
Gearmany    3746800.0
Korea       5555000.0
北朝鮮               NaN
Name: 第二次世界大戦の死亡者, dtype: float64

インデックスに名前をつけることができる

In [36]:
obj2.index.name = 'countreis'

In [37]:
obj2

countreis
Japan        870000.0
USA         4300000.0
China       1200000.0
Gearmany    3746800.0
Korea       5555000.0
北朝鮮               NaN
Name: 第二次世界大戦の死亡者, dtype: float64