## インデックスの削除の仕方を学ぶ

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser = DataFrame( np.arange(3),index=['A','B','C'])

In [3]:
ser

   0
A  0
B  1
C  2

In [4]:
ser.drop('B')

   0
A  0
C  2

In [5]:
ser2 = DataFrame( np.arange(9).reshape((3,3)),index=['A','B','C'],columns=['pop','size','gap'])

In [6]:
ser2

   pop  size  gap
A    0     1    2
B    3     4    5
C    6     7    8

In [7]:
ser2.drop('B',axis= 0)

   pop  size  gap
A    0     1    2
C    6     7    8

In [8]:
ser2

   pop  size  gap
A    0     1    2
B    3     4    5
C    6     7    8

列を削除する場合は axisを付け加える

In [9]:
ser2.drop('pop',axis =1)

   size  gap
A     1    2
B     4    5
C     7    8