In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

## テキストデータの読み書き

In [2]:
!cat lec25.csv

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [4]:
dframe = pd.read_csv('lec25.csv')

In [5]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [6]:
dframe = pd.read_csv('lec25.csv',header=None)
# ヘッダーに空の行を追加する

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
dframe2 = pd.read_table('lec25.csv',sep=',',header=None)

In [9]:
dframe2

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [10]:
dframe3 = pd.read_csv('lec25.csv',header=None,nrows=2)
# 読み込む行数を指定することができる

In [11]:
dframe3

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [12]:
dframe2.to_csv('test.csv')

In [13]:
import sys 
dframe.to_csv(sys.stdout)

#sys.stdout 標準出力

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [14]:
dframe.to_csv(sys.stdout ,sep=',')

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [15]:
dframe.to_csv(sys.stdout ,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [17]:
dframe.to_csv(sys.stdout ,sep=',',columns=[0,1,2])
# 保存する列を制限することができる

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5