In [1]:
import numpy as np
from pandas import Series,DataFrame

In [2]:
import pandas.util.testing as tm
tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

# DataFrameを作ります。
dframe = unpivot(tm.makeTimeDataFrame())

/Users/fujiiryou/.pyenv/versions/3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  """Entry point for launching an IPython kernel.

In [3]:
dframe

          date variable     value
0   2000-01-03        A -0.856753
1   2000-01-04        A  0.393546
2   2000-01-05        A -1.200113
3   2000-01-06        A  1.283784
4   2000-01-07        A  1.768996
..         ...      ...       ...
115 2000-02-07        D -1.733729
116 2000-02-08        D  1.225572
117 2000-02-09        D  0.308008
118 2000-02-10        D  0.441462
119 2000-02-11        D  1.177504

[120 rows x 3 columns]

In [4]:
dframe_piv = dframe.pivot('date','variable','value')

In [5]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.856753  0.036648  1.044673 -1.180727
2000-01-04  0.393546  0.000121  2.191319  0.129112
2000-01-05 -1.200113 -0.587809  0.459622 -0.576625
2000-01-06  1.283784 -0.574649  0.487794  0.285253
2000-01-07  1.768996 -0.535003  1.218619  0.187051
2000-01-10  0.837396  2.409078  0.021404  0.218119
2000-01-11 -0.380892  1.445842 -0.830069 -0.967537
2000-01-12 -0.870022 -0.617421  1.348933  0.809871
2000-01-13 -0.802116 -1.195748  0.746781  0.006130
2000-01-14 -0.610619  1.282216 -1.326128 -1.908533
2000-01-17 -0.390045  0.320939  1.575326  2.787273
2000-01-18 -1.362717 -0.181759  0.439051  1.563539
2000-01-19 -0.291444  0.066844 -0.259966  0.872433
2000-01-20 -0.379477  1.582390 -1.251400 -0.228860
2000-01-21 -0.758256 -0.678667 -0.724167 -0.818141
2000-01-24  0.780245  0.113422  0.761400  2.089716
2000-01-25 -0.344856 -0.636095  1.364122  1.659293
2000-01-26  0.033378  1.685379 -0.686823 -0.066132
2000-01-27  1.417883 -0.580903  0.867389 -0.690410
2000-01-28  1.759335 -0.062530 -1.470568  0.404563
2000-01-31 -0.254888  0.974610  0.216327  1.221334
2000-02-01 -0.936645  1.630551  0.612362  1.662368
2000-02-02 -0.840929 -0.658205 -0.342201 -1.052565
2000-02-03  0.099050  0.176331  0.106988  0.074490
2000-02-04  0.879961 -1.263036  0.176519  0.481301
2000-02-07  0.436776 -0.976052  0.806472 -1.733729
2000-02-08 -0.539651  1.205489  1.012599  1.225572
2000-02-09  0.066672 -0.913518  1.187727  0.308008
2000-02-10  0.827846  1.003129  1.011711  0.441462
2000-02-11 -0.287436 -0.885722 -0.967585  1.177504