In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
dframe = DataFrame({'key1':['X','X','Y','Y','Z'],
                   'key2':['a','b','a','b','a'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

In [3]:
dframe

  key1 key2  dataset1  dataset2
0    X    a  0.764341  0.270226
1    X    b -1.369482  1.527676
2    Y    a -0.898544 -1.529105
3    Y    b -1.649796 -0.678226
4    Z    a  0.208506 -0.444866

In [4]:
group1 = dframe['dataset1'].groupby(dframe['key1'])

# 対象のカラムに対して、指定したキーでグルーピングする

In [6]:
group1.mean()

key1
X   -0.302570
Y   -1.274170
Z    0.208506
Name: dataset1, dtype: float64

In [9]:
cities = np.array([  'NY'  , 'LA', 'LA', 'NY','NY'])
month = np.array(['Jan','Feb','Jan','Feb','Jan'])

In [10]:
dframe

  key1 key2  dataset1  dataset2
0    X    a  0.764341  0.270226
1    X    b -1.369482  1.527676
2    Y    a -0.898544 -1.529105
3    Y    b -1.649796 -0.678226
4    Z    a  0.208506 -0.444866

In [11]:
dframe['dataset1'].groupby([cities,month]).mean()

# 外部のデータでグループバイすることが可能

LA  Feb   -1.369482
    Jan   -0.898544
NY  Feb   -1.649796
    Jan    0.486424
Name: dataset1, dtype: float64

In [12]:
dframe.groupby('key1').mean()

# dataframeをk1の列でまとめて、平均値を出している

      dataset1  dataset2
key1
X    -0.302570  0.898951
Y    -1.274170 -1.103665
Z     0.208506 -0.444866

In [14]:
dframe.groupby(['key1','key2']).mean()

           dataset1  dataset2
key1 key2
X    a     0.764341  0.270226
     b    -1.369482  1.527676
Y    a    -0.898544 -1.529105
     b    -1.649796 -0.678226
Z    a     0.208506 -0.444866

In [15]:
dataset2_group = dframe.groupby(['key1','key2'])[['dataset2']]

#　出力の列を限定することが可能

In [16]:
dataset2_group.mean()

           dataset2
key1 key2
X    a     0.270226
     b     1.527676
Y    a    -1.529105
     b    -0.678226
Z    a    -0.444866

In [17]:
dframe.groupby(['key1']).size()

# 何個のデータにまとめたかを表示できる

key1
X    2
Y    2
Z    1
dtype: int64

In [18]:
for name , group in dframe.groupby('key1'):
    print('This is the {} group'.format(name))
    print(group)
    print('¥n')

This is the X group
  key1 key2  dataset1  dataset2
0    X    a  0.764341  0.270226
1    X    b -1.369482  1.527676
¥n
This is the Y group
  key1 key2  dataset1  dataset2
2    Y    a -0.898544 -1.529105
3    Y    b -1.649796 -0.678226
¥n
This is the Z group
  key1 key2  dataset1  dataset2
4    Z    a  0.208506 -0.444866
¥n

In [19]:
for name , group in dframe.groupby(['key1','key2']):
    print('This is the {} group'.format(name))
    print(group)
    print('¥n')

This is the ('X', 'a') group
  key1 key2  dataset1  dataset2
0    X    a  0.764341  0.270226
¥n
This is the ('X', 'b') group
  key1 key2  dataset1  dataset2
1    X    b -1.369482  1.527676
¥n
This is the ('Y', 'a') group
  key1 key2  dataset1  dataset2
2    Y    a -0.898544 -1.529105
¥n
This is the ('Y', 'b') group
  key1 key2  dataset1  dataset2
3    Y    b -1.649796 -0.678226
¥n
This is the ('Z', 'a') group
  key1 key2  dataset1  dataset2
4    Z    a  0.208506 -0.444866
¥n

In [20]:
gr = dframe.groupby('key1')

In [21]:
gr.get_group('X')

  key1 key2  dataset1  dataset2
0    X    a  0.764341  0.270226
1    X    b -1.369482  1.527676

In [22]:
group_dist = dict(list(dframe.groupby('key1')))

# 辞書型にして取り出すことも可能
# get_group（）の方が便利

In [26]:
list(dframe.groupby('key1'))

[('X',   key1 key2  dataset1  dataset2
  0    X    a  0.764341  0.270226
  1    X    b -1.369482  1.527676), ('Y',   key1 key2  dataset1  dataset2
  2    Y    a -0.898544 -1.529105
  3    Y    b -1.649796 -0.678226), ('Z',   key1 key2  dataset1  dataset2
  4    Z    a  0.208506 -0.444866)]

In [25]:
dict(list(dframe.groupby('key1')))

{'X':   key1 key2  dataset1  dataset2
 0    X    a  0.764341  0.270226
 1    X    b -1.369482  1.527676, 'Y':   key1 key2  dataset1  dataset2
 2    Y    a -0.898544 -1.529105
 3    Y    b -1.649796 -0.678226, 'Z':   key1 key2  dataset1  dataset2
 4    Z    a  0.208506 -0.444866}

In [24]:
group_dist['X']

  key1 key2  dataset1  dataset2
0    X    a  0.764341  0.270226
1    X    b -1.369482  1.527676

In [27]:
group_dist_ax1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [29]:
dframe.dtypes

key1         object
key2         object
dataset1    float64
dataset2    float64
dtype: object

In [28]:
group_dist_ax1

# ???

{dtype('float64'):    dataset1  dataset2
 0  0.764341  0.270226
 1 -1.369482  1.527676
 2 -0.898544 -1.529105
 3 -1.649796 -0.678226
 4  0.208506 -0.444866, dtype('O'):   key1 key2
 0    X    a
 1    X    b
 2    Y    a
 3    Y    b
 4    Z    a}