In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [7]:
dframe = DataFrame(np.arange(4*4).reshape((4,4)), index=['LA','LA','SF','LAS'])

In [8]:
dframe

      0   1   2   3
LA    0   1   2   3
LA    4   5   6   7
SF    8   9  10  11
LAS  12  13  14  15

In [9]:
blender = np.array([0,3,2,1])

In [10]:
dframe.take(blender)

#表示する順番を変える(インデックスの名前に反応しているのではなく、　デフォルトの添え字に反応している)

      0   1   2   3
LA    0   1   2   3
LAS  12  13  14  15
SF    8   9  10  11
LA    4   5   6   7

In [11]:
blender = np.random.permutation(4)

# 適当な数字をとったタプルを生成する

In [12]:
blender

array([0, 1, 3, 2])

In [27]:
box = np.array(['鳥谷','松中','山田'])

# 箱の中に３つの玉がある様なイメージ

In [28]:
box

array(['鳥谷', '松中', '山田'], dtype='<U2')

In [35]:
shaker = np.random.randint(0,len(box),size=10)

# randint('●から','●までの数字を','●回無作為に抽出する')

In [30]:
shaker

# 0,1,2から無作為に数字を取り出すことを10回繰り返す

array([1, 2, 2, 0, 2, 2, 1, 1, 1, 1])

In [37]:
hand_grabs = box.take(shaker)

# np配列の値から無作為に抽出して、np配列にして返す

In [38]:
hand_grabs

array(['松中', '松中', '山田', '山田', '山田', '鳥谷', '松中', '鳥谷', '鳥谷', '松中'],
      dtype='<U2')